<body>
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Insert Voucher</h4>
                <p class="card-description">
                    Add a voucher to the store
                </p>
                <form class="forms-sample" method="post" action="/voucher">
                    <div class="form-group">
                        <label for="exampleInputName1">Title</label>
                        <input type="text" class="form-control" id="exampleInputName1" name="title" placeholder="Title">
                    </div>
                      <div class="form-group">
                        <label>Image File</label>
                        <div class="input-group col-xs-12 parent-div">
              <input onchange="onChangeFile()" id="image-file" name="image" type="file" class="input-image " placeholder="Upload Image">
              <button class=" btn-upload" >Upload</button>
            </div>
             <img style="display: none; object-fit: cover;" src="" width="200" height="200"
                id="image-view" />
              <div class="form-group">
                    </div>
                    <div class="form-group">
                        <label for="exampleTextarea1">Body</label>
                        <textarea class="form-control" id="exampleTextarea1" required name="body" rows="5"></textarea>
                    </div>
                         <div class="form-group">
                        <label for="exampleInputName1">Discount</label>
                        <input type="text" class="form-control" id="exampleInputName1" required name="discount" placeholder="Discount">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName1">Code</label>
                        <input id="idCode" onchange="changeCode()" required type="number" class="form-control" id="exampleInputName1" name="code" placeholder="Code">
                    </div>
                     <div class="form-group">
                        <label for="exampleInputName1">Released</label>
                          <input class="form-control"  type="date" name="released" required id="released"/>
                    </div>
                         <div class="form-group">
                        <label for="exampleInputName1">EndDate</label>
                          <input class="form-control"  type="date" name="end_date" required  id="released"/>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</body>
  <script>
    const changeCode = () => {
        const rand = Math.random().toString().substr(2, 8);
        document.getElementById("idCode").value = rand;
    }
    const validation = () => {
        const name = document.getElementById('name').value;
        const released = document.getElementById('released').value;
        const submit = document.getElementById('submit');
        if(!name || name.trim().length == 0){
            submit.disabled = true;
        }else{
            submit.disabled = false;
        }
    }
    const onChangeFile = () => {
        const file = document.getElementById('image-file').files[0];
        const reader = new FileReader();
        reader.onload = e => {
            document.getElementById('image-view').src = e.target.result;
            document.getElementById('image-view').style.display = 'block';
        }
        reader.readAsDataURL(file);
    }

</script>